{% extends "create_post_layout.html" %}

{% block field %}
<div class="form-group">
	{{ form.price.label(class="form-control-label") }}
	
	{% if form.price.errors %}  
  		{{ form.price(class="form-control form-control-default is-invalid") }}
  		<div class="invalid-feedback">
     		{% for errors in form.price.errors %}
        		<span>{{ error }}</span>
     		{% endfor %}
  		</div>
	{% else %}
  		{{ form.price(class="form-control form-control-default") }}
	{% endif %}
	<small class="text-muted">
		<p>* Please only enter the numeric value (without the "$" sign). Price is in CAD.</p>
	</small>
</div>
{% endblock field %}