{% extends "layout.html" %}

{% block content %}
   {% for post in posts.items %}
      <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
      <div class="media-body">
         <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%m-%d-%Y') }}</small>
         </div>
			{% if post.want == "" %}
				<h2><a class="article-title" href="{{ url_for('sell_post', post_id=post.id) }}">{{ post.name }}</a></h2>
         			<p class="article-content">
						<b>Price:</b> ${{ post.price }}
						<b>Item Description:</b> 
						{{ post.desc }}
						<b>Item Picture:</b> <a target="_blank" href="{{ url_for('static', filename='item_pics/' + post.image_file) }}">Click Here</a>
						...
			{% else %}
				<h2><a class="article-title" href="{{ url_for('swap_post', post_id=post.id) }}">{{ post.name }}</a></h2>
         			<p class="article-content">
						<b>Looking for:</b> {{ post.want }}
						<b>Item Description:</b> 
						{{ post.desc }}
						<b>Item Picture:</b> <a target="_blank" href="{{ url_for('static', filename='item_pics/' + post.image_file) }}">Click Here</a>
						...
			{% endif %}
		</p>
      </div>
      </article>
   {% endfor %}
   {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
		<!-- if the page is to be displayed-->
	   {% if page_num %}
			<!-- if the page is equal to the current page -->
			{% if posts.page == page_num %}
	      	<a class="btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
			{% else %}
				<a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
	   	{% endif %}
		{% else %}
	      ...
		{% endif %}
   {% endfor %}
{% endblock content%}

{% block search %}
<div class="content-section">
	<nav class="navbar navbar-light bg-light">
	  	<form class="form-inline" action="" method="POST">
	    	<input class="form-control mr-sm-2" type="search" name="query" placeholder="Enter keyword" aria-label="Search">
	    	<input class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">
	  	</form>
	</nav>
</div>
{% endblock %}